@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* *base styles */

* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #333;
}

button {
  cursor: pointer;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.links {
  text-decoration: none;
}

.create-btn {
  width: 70px;
  padding: 5px 5px;
  color: #fff;
  background-color: #f1356d;
  border: 1px solid #f1356d;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  transition: all ease-in-out 0.2s;
}

.create-btn:hover {
  color: #f1356d;
  background-color: white;
  border: 0;
  outline: solid 2px #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* * Blog section */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  transition: all ease-in-out 0.2s;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-inline-end: 2px solid #f1356d;
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-details h2 {
  margin: 0 0 10px 0;
}

.blog-details p {
  margin-top: 10px;
  word-spacing: 3px;
  line-height: 25px;
}

.blog-details div {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.blog-details small {
  font-weight: 900;
}

.blog-details button {
  width: 70px;
  padding: 5px 5px;
  color: #fff;
  background-color: #f1356d;
  border: 1px solid #f1356d;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

/** create blogs */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
}

.create input:focus,
.create textarea:focus,
.create select:focus {
  border: none;
  outline: #f1356d solid 1px;
}

.create button {
  width: 100px;
  padding: 5px 5px;
  color: #fff;
  background-color: #f1356d;
  border: 1px solid #f1356d;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

.create button:active {
  border: 1px solid gainsboro;
}

/** 404 PAGE */
.not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found h1 {
  margin-bottom: 30px;
  padding: 9px 10px 9px 0;
  font-size: 3rem;
  color: #f1356d;
  border: 1px solid #f1356d;
  border-radius: 7px;
}

.not-found h1 span {
  padding: 10px;
  background: #f1356d;
  color: white;
  border-radius: 7px;
}

.not-found p {
  margin-bottom: 10px;
}

.not-found .back-home {
  padding: 0.5px;
  color: blue;
}
